@model IEnumerable<ASSIGMENT_MVC_ASP.Models.SanPham>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<link rel="stylesheet" href="~/Content/StyleTable.css">
<link rel="stylesheet" href="~/Content/DropdownTest.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<p>
    @Html.ActionLink("Create New", "Create")
</p>



@using (Ajax.BeginForm("TimKiemTheoTen", "SanPhams",
    new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "GET",
        OnFailure = "searchFailed",
        LoadingElementId = "ajax-loader",
        UpdateTargetId = "Hero",
    }))
{

    <form class="example" style="margin:auto;max-width:300px">
        <input type="text" name="keyword" placeholder="Tìm kiếm ..." />
        <button type="submit" class="buttonSearch"><i class="fa fa-search"></i></button>
    </form>

    <img id="ajax-loader"
         src="https://flevix.com/wp-content/uploads/2019/07/Ring-Loading.gif"
         style="display: none; width: 100px;" />
}
@* @using (Ajax.BeginForm("TimKiemTheoDanhMuc", "SanPhams", *@
@*     new AjaxOptions *@
@*     { *@
@*         InsertionMode = InsertionMode.Replace, *@
@*         HttpMethod = "GET", *@
@*         OnFailure = "searchFailed", *@
@*         LoadingElementId = "ajax-loader", *@
@*         UpdateTargetId = "Hero", *@
@*     })) *@
@* { *@
@* *@

@* *@
@*      *@
@* } *@
@using (Ajax.BeginForm("TimKiemTheoDanhMuc", "SanPhams", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "GET",
    OnFailure = "searchFailed",
    LoadingElementId = "ajax-loader",
    UpdateTargetId = "Hero",
}))
{
    <div class="dropdown">
        <button class="dropbtn">Tìm theo danh mục</button>
        <div class="dropdown-content">
            <button type="submit" name="MaLoaiSanPham" value="0">Tất cả</button>
            <button type="submit" name="MaLoaiSanPham" value="1">Mặc nhà</button>
        </div>
    </div>
}
@using (Ajax.BeginForm("SapXepSanPham", "SanPhams", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "GET",
    OnFailure = "searchFailed",
    LoadingElementId = "ajax-loader",
    UpdateTargetId = "Hero",
}))
{
    <div class="dropdown">
        <button class="dropbtn">Sắp xếp </button>
        <div class="dropdown-content">
            <button type="submit" name="sx" value="Giam">Giá giảm dần</button>
            <button type="submit" name="sx" value="">Giá tăng dần</button>
        </div>
    </div>
}
@using (Ajax.BeginForm("TimTheoGioiTinh", "SanPhams", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "GET",
    OnFailure = "searchFailed",
    LoadingElementId = "ajax-loader",
    UpdateTargetId = "Hero",
}))
{
    <div class="dropdown">
        <button class="dropbtn">Giới tính </button>
        <div class="dropdown-content">
            <button type="submit" name="GioiTinh" value="0">Tất cả</button>
            <button type="submit" name="GioiTinh" value="1">Bé trai</button>
            <button type="submit" name="GioiTinh" value="2">Bé gái</button>
        </div>
    </div>
}


<table id="Hero">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LoaiSanPham.TenLoaiSanPham)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenSP)
        </th>
        @* <th> *@
        @*     @Html.DisplayNameFor(model => model.MieuTa) *@
        @* </th> *@
        <th>
            @Html.DisplayNameFor(model => model.AnhSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.XuatSu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChatLieu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiSanPham.TenLoaiSanPham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSP)
            </td>
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.MieuTa) *@
            @* </td> *@
            <td>
                <img src="@item.AnhSP" width="200px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.XuatSu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChatLieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioiTinh)
            </td>
            <td>

                <button type="button" class="btn btn-success">
                    <a href="@Url.Action("Edit", "SanPhams", new {id = item.MaSP}) ">
                        <i class="fa fa-edit" style="color: white"></i>
                    </a>
                </button>

                <button type="button" class="btn btn-primary">
                    <a href="@Url.Action("Details", "SanPhams", new {id = item.MaSP}) ">
                        <i class="fa fa-eye" style="color: white"></i>
                    </a>
                </button>

                <button type="button" class="btn btn-danger">
                    <a href="@Url.Action("Delete", "SanPhams", new {id = item.MaSP}) ">
                        <i class="fa fa-trash" style="color: white"></i>
                    </a>
                </button>
            </td>
            <td>
                <button type="button" class="btn" style="background: #0275d8">
                    <a href="@Url.Action("ThemSanPham", "GioHang", new {msp = item.MaSP ,sl = 1}, null)">
                        <i class="fa fa-shopping-cart" style="color: white"> &nbsp; Add to cart</i>
                    </a>
                </button>
            </td>
        </tr>
    }

</table>
